.list{
    text-decoration: none;
    list-style-type: none;
    display: inline;
    padding-left: 10px;
    padding-top: 5px;
    flex-direction: row;
    background-color: darkgrey;
    color: white;
    width: 100%;
    justify-content: space-between;
      
}
h2{
    padding-right: 5px;
}
